body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}

svg.leaflet-zoom-animated > g > path {
    transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
    transition-duration: 0.4s;
 }